body {
    font-family: sans-serif;
    font-size: 18px;
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px;
    grid-gap: 40px;
    background: #e1e1e1;
    color: #333;
    padding: 40px;
}

input, textarea, #clear, #add, .note {
    box-shadow: 0 1px 3px #888;
}

form {
    display: grid;
    grid-gap: 10px;
    align-content: flex-start;

    grid-template-columns: 3fr 2fr;
}

.required input,
.required textarea {
    border: 2px solid crimson;
}

input,
textarea {
    grid-column: span 2;
    font-family: sans-serif;
    color: black;
    font-size: 1em;
    background: #ccc;
    padding: 0.5em;
    border: 2px solid #0000;
    border-radius: 5px;
}

textarea {
    min-height: 80px;
    min-width: 378px;
    max-width: 378px;
}

button {
    background: #222;
    color: white;
    padding: 0.5em;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

button:hover {
    background: #777;
}

#clear {
    background: darkred;
    color: white;
}

#clear:hover {
    background: crimson;

}



input:focus-visible,
textarea:focus-visible {
    outline: none;
}

h1 {
    font-size: 1.5em;
    grid-column: span 2;
    text-align: center;
}

#notes {
    display: grid;
    grid-gap: 10px;
    align-content: flex-start;
}

.note {
    background: #ccc;
    padding: 0.5em 1em 0.5em 0.5em;
    border-radius: 5px;
    width: 400px;
    position: relative;
    box-sizing: border-box;
}

.note h2 {
    font-size: 1.3em;
}

.note p {
    margin-top: 10px;
    color: #444;
}

.id,
.delete {
    position: absolute;
    font-family: monospace;
}

.id {
    color: #666;
    bottom: 5px;
    right: 5px;
    font-size: 0.8em;
}

.delete {
    top: 0;
    right: 0;
    border-radius: 5px;
    background: #bbb;
    color: #333;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    text-align: center;
}

.delete:hover {
    background: crimson;
    color: white;
}

@media screen and (max-width: 900px) {
    body {
        grid-template-columns: auto;
    }

    h1 {
        grid-column: span 1;
    }
}